$primary-color: #f4e041;

$primary-color-hover: #ffe302;

$disabled-color: #b4b4b4;

$secondary-color: #00bdd3;

$divider-color: #d0cfcf;

$additional-color: #7e7e7e;

$background-color: #f8f8f8;

$text-main-strong: rgba(0, 0, 0, 0.87);

$text-main-week: white;

$error-color: #cb3d40;
